*{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
    font-family: "Noto Sans JP", sans-serif;
    font-size: 18px;
}
p{
    margin: 0;
}
img {
    margin: 0 auto;
    width: 100%;
}

/* ヘッダー */
.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
    max-width: 1080px;
}
.header a{
    align-items: center;
    margin: 20px auto;
    max-width: 1080px;
}
h1 a{
    margin: 0 0 0 20px;
    padding: 0 20px;
    text-decoration: none;
    color: #000000;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
}
/* ナビ　レイアウト */
#nav{
    display: flex;
    padding-left: 0;
}
#nav li {
    list-style: none;
    margin: 0 20px;
}
#nav a {
    text-decoration: none;
    margin-left: 20px;
    font-size: 34px;
    color: #000000;
    font-weight: bold;
}
#nav a:hover{
    text-decoration: underline;
}

/* メインビジュアル */
#main-visual img{
    margin: 10px auto;
    width: 100%;
}

/* 共通 */
h2{
    font-size: 34px;
    text-align: center;
    margin: 50px 0;
}

/* About */
#about{
    background-color: #ffffff;
}
h3{
    font-size: 24px;
}
#about-flex{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 10px auto;
    max-width: 1080px;
}
.about-inner{
    margin: 10px auto;
}
.about-inner img{
    border-radius: 50%;
}
.about-conntent{
    margin: 10px auto;
}

/* Works */
#works{
    background-color: #ffffff;
}
#works-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px auto;
    max-width: 1080px;
}
.works-inner{
    margin: 0 10px;
    padding-bottom: 50px;
    width: 25%;
}

/* フッター */
footer{
    text-align: center;
    padding-bottom: 30px;
}

/* 最大767px */
@media (max-width: 767px){
    h1{
        font-size: 25px;
    }

    h2{
        font-size: 25px;
        padding: 30px 0 20px;
        margin: 0;
    }
    #nav a{
        font-size: 18px;
    }
    #nav li{
        margin: 0 10px;
    }
    .works-inner{
        width: 100%;
        text-align: center;
        padding-bottom: 30px;
    }
}